# Copyright (c) 2020 Pete Johanson, Richard Jones
# SPDX-License-Identifier: MIT

if SHIELD_ADAGIO_LEFT

config ZMK_KEYBOARD_NAME
	default "Adagio-L"

endif

if SHIELD_ADAGIO_RIGHT

config ZMK_KEYBOARD_NAME
	default "Adagio-R"

endif