# Copyright (c) 2020 Pete Johanson, Richard Jones
# SPDX-License-Identifier: MIT

if SHIELD_LEMMA_LEFT

config ZMK_KEYBOARD_NAME
	default "Lemma-L"

endif


if SHIELD_LEMMA_RIGHT

config ZMK_KEYBOARD_NAME
	default "Lemma-R"

endif